


*{
    padding: 0px;
    margin: 0px;
} 

.home{ 
    background-image: url(images/drew-coffman-1872.jpg); 
    background-position: center center;
    background-size: 100%;
    height: 700px;
    text-align: center;
    display: block;
} 
.nd{
    background-position: center center;
    background-size: 100%;
    height: fit-content;
    text-align: center;
    display: block;
    width: 100%;
}
.third{
    background-position: center center;
    background-size: 100%;
    height: fit-content;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: rgb(248, 248, 248);
   
}
.fourth {
    background-position: center center;
    background-size: 100%;
    height: fit-content;
    width: 100%;
    margin-top: 85px;
    align-items: center;
    text-align: center;
    margin-left: 70px;
    background-color: white;
}
.fifth{
    background-position: center center;
    background-size: 100%;
    height: fit-content;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: rgb(248, 248, 248);
    

}
.sixth{
    background-position: center center;
    background-size: 100%;
    height: fit-content;
    align-items: center;
    text-align: center;
    width: 100%;
    color: rgb(150, 150, 150);
    background-color: rgb(64, 61, 56);
}
.seventh{
    background-position: center center;
    background-size: 100%;
    height: fit-content;
    align-items: center;
    text-align: center;
    width: 100%;
    color: rgb(150, 150, 150);
    background-color: #353330;
    
}
.first{
    display: inline-block; 
    text-align: center; 
    color: white; 
    padding: 60px 0px; 
    margin-top: 135px ;
    width: 50%;
    margin-bottom:8px ;

} 

.first h1{ 
    display: inline-block; 
    font-size: 76px; 
    font-weight: 400; 
    font-family: "Alegreya"; 
    text-align: center; 
    margin: 0px 0px 18px; 
    
} 

.brief{ 
    display: inline-block; 
    font-weight: 400; 
    font-family: 'Alegreya Sans', sans-serif; 
    font-size: 23px; 
    text-align: center; 
    margin: 10px 0px 20px; 
    font-size: 23px;
    font-weight: 400;
    line-height: 27.9px;
} 

.welcome{ 
    font-weight: 400;
    font-family: 'Alegreya Sans',sans-serif; 
    font-size: 22px; 
    margin: 0px 0px 5px; 
    text-align: center;
} 

.btns{ 
    display: inline-block;
    text-align: center; 
    margin: 30px 0px 0px; 
    width : 364.438px;
    line-height: 31.62px;
} 

#brown{ 
    background-color: #8e7754; 
    text-align: center;
    display: inline-block; 
    height: 46.0938px; 
    padding: 10px 17px 10px 17px; 
    /* margin-bottom: 12px ;  */
    font-size: 14px; 
    font-weight: 700; 
    color: white; 
    border-radius: 4px; 
    border: transparent 2px solid; 
    line-height: 22.1px; 
} 

#transparent{ 
    background-color:transparent; 
    text-align: center;
    display: inline-block; 
    height: 46.0938px; 
    padding: 10px 17px 10px 17px; 
    margin-top:  12px ; 
    font-size: 14px; 
    font-weight: 700; 
    color: white; 
    border-radius: 4px; 
    border: white 2px solid; 
    line-height: 22.1px; 

}

.second {
    display: inline-block;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 20px 60px 20px;
    margin: 75px 30px 35px 10px;
    width: 55%;
    max-width: 570px;
    
    padding-left: 0px;
    }
    
    .second-inner {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 546px;
    }
    
    .second img {
    width: 100%;
    max-width: 546px;
    }
.second-description {
    display: inline-block;
    vertical-align: middle;
    padding: 20px 15px 0px;
    flex-direction: column;
    box-sizing: border-box;
    margin: 90px 35px 80px 50px;
    max-width: 600px;
    width: 50%;
    }

.second-description h2{
    font-family: 'Alegreya'; 
    font-size: 32px;
    font-weight: 400;
    line-height :35.19px;
    color: #303030;
    margin-bottom: 25px;
   text-align: left ;
    width: 361px;
    height: 35.1875px;
}
.second-description p{
    font-family: 'Alegreya Sans',sans-serif; 
    font-size: 17px;
    font-weight: 400;
    line-height: 31.62px;
    color: rgb(104, 104, 104);
    box-sizing: border-box;
    text-align: center;
    text-align: left;
    width: 100%;
    max-width: 565px;
    /* margin-bottom: 35px; */
}

.list li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .list img {
    float: left;
    margin-right: 10px;
    width: 44px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 22px;
  }
  
  .list p {
    margin: 0;
    
  }
 
  .third-text p{
    font-family: 'Alegreya Sans',sans-serif; 
    font-size: 17px;
    font-weight: 400;
    line-height: 31.62px;
    color: rgb(104, 104, 104);
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    max-width: 565px;
    
   
  }
  .third-text h2{
    font-family: 'Alegreya'; 
    font-size: 32px;
    font-weight: 400;
    line-height :35.19px;
    color: #303030;
    margin-bottom: 25px;
   text-align: left ;
    width: 361px;
  }

  .third-text {
    display: inline-block;
    width: 50%;
   box-sizing: border-box;
    text-align: center;
   height: fit-content;
    padding-top: 180px;
    vertical-align: top;
  }
 
  .image {
    
    display: inline-block;
    width: 40%;
    max-width: 546px;
    box-sizing: border-box;
    margin-bottom: 80px; 
    height: fit-content;
  }
  
  .image img {
    padding-top: 90px;
    display: block;
    width: 100%;
  }
  
  .fourth h3 {
    font-family: 'Alegreya'; 
    font-size: 30px;
    font-weight: 400;
    line-height :35.19px;
    color: #303030;
    margin-bottom: 19px;
    
 }
 .fourth p{
    font-family: 'Alegreya'; 
    font-size: 17px;
    font-weight: 400;
    line-height: 31.62px;
    color: rgb(104, 104, 104);
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 60px;
    
 }
 
 .fourth h4{
   font-family: 'Alegreya'; 
    font-size: 22px;
    font-weight: 400;
    line-height :35.19px;
    color: #303030;
    margin-bottom: 19px;
    
 }

 .fourth div{
    background-color: white;
    float: left;
    width: 365px;
    margin: 0 15px
 }
 .fourth::after {
    content: "";
    display: table;
    clear: both;
  }
 
 .fourth img{
    width: 351px;
 }
 .clr{
    clear: both;
 }
 .fifth-text{
    display: inline-block;
    width: 50%;
   box-sizing: border-box;
    text-align: center;
   height: fit-content;
   padding-top: 110px;
    vertical-align: top;
    padding-left: 60px;
 }
 .fifth-text p{
    font-family: 'Alegreya Sans',sans-serif; 
    font-size: 17px;
    font-weight: 400;
    line-height: 31.62px;
    color: rgb(104, 104, 104);
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    max-width: 565px;
    
   
  }
  .fifth-text h2{
    font-family: 'Alegreya'; 
    font-size: 32px;
    font-weight: 400;
    line-height :35.19px;
    color: #303030;
    margin-bottom: 25px;
   text-align: left ;
    width: 361px;
  }
.contact{
    margin-top: 30px;
    margin-bottom: 30px;
}
 .list-second li {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
   
  }
  
  .list-second img {
    float: left;
    margin-right: 10px;
    width: 30px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background-color: #8e7754;
  }
  
  .list-second p {
    margin: 0;
   
    
  }
  .sixth h4{
    font-family: 'Alegreya'; 
    font-size: 17px;
    font-weight: 400;
    line-height :35.19px;
    color: white;
    margin-bottom: 0px;
  }
  .sixth p{
    padding-top: 20px;
    font-size: 15px;
    color: #969696;
    text-align: left;
  }
  .sections{
    margin-top: 70px;
    margin-left: 140px;
    
  }
  .sections .s{
    float: left;
    width: 240px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 40px;
    text-align: left;
    margin-bottom: 65px;
  }
  .final{
    list-style-type: "> ";
  }
  .final-list{
    font-size: 13px;
    color: #969696;
    text-align: left;
  }
  .list-six li {
    display: flex;
    align-items: center;
   
   
  }
  .sixth li{
    margin-bottom: 20px;
    padding-bottom: 12px;
    
    border-bottom: rgba(150,150,150, 0.3) 1px solid ;
    font-family: 'Alegreya Sans';
    font-size: 15px;
  }
  
  .list-six img {
    float: left;
    margin-right: 10px;
    width: 30px;
   }
   .sixth ul{
    padding-top: 20px;
   }
   .seventh .img{
    width:  35px;
    border: 1px solid transparent ;
    background-color: #484540;
    border-radius: 17.5px;
    text-align: center;
    margin-bottom: 30px;
   }
   .seventh p{
    color: rgb(119, 119, 119);
    font-family :"Alegreya Sans";
    font-size :15px;
    font-weight: 400;
    line-height :27.9px;
    text-align: center;
   }
   #logo{
    width: 364px;
    margin-bottom: 30px;
    margin-top: 50px;
   }
   .icons{
  
    margin-top: 30px;
    padding-bottom: 30px;
   }
   .map{
    background-image: url(images/contact-details-map.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-image:  rgba(0, 0, 0, 1);
   }
   .try{
    width: 90%;
    margin: auto;
   }
   .try div{
    width: 33.333%;
    box-sizing: border-box;
    float: left;
    padding-right: 15px;
    
   }
   .try p, .try h4{
    background-color: beige;
   }
   .try img{
    width: 100%;
   }